<app-generic-form
  [formGroup]="formGroup"
  [formConfig]="formConfig"
  [showSaveButton]="false"
  (formSubmitted)="onSubmit($event)">
</app-generic-form>

<div class="d-flex justify-content-end gap-2 mt-3">
  <button type="button" class="btn btn-outline-secondary" (click)="clear()">
    {{ 'TABLE.CLEAR_FILTERS' | translate }}
  </button>

  <button type="button" class="btn btn-secondary" (click)="onCancel()">
    {{ 'COMMON.CANCEL' | translate }}
  </button>

  <button type="button" class="btn btn-primary" (click)="onSearchClick()">
    {{ 'TABLE.SEARCH' | translate }}
  </button>
</div>
