<app-page-header [title]="title | translate" [title1]="breadcrumbs" [activeitem]="activeitem | translate">
</app-page-header>

<div class="row row-sm">
  <div class="col-md-12 col-lg-12">
    <div class="card custom-card">
      <div>

       

        <div>
          <app-generic-table [title]="title" [breadcrumbs]="breadcrumbs" [columns]="columns" [data]="rows"
            [entries]="entries" [page]="page" [labels]="labels" [totalItems]="totalItems" [showAddButton]="canCreate"
            [showDetailsButton]="true" [showFilters]="true" [searchCriteria]="searchCriteria"
            [onSearch]="applyFilters.bind(this)" (pageChange)="onPageChange($event)" (entriesChange)="onEntriesChange($event)" (addClick)="openAdd(leaveModal)"
            (details)="openDetailsModal($event)" [addButtonLabel]="'LEAVE.ADD' | translate"  [statusOptions]="status"
            >
          </app-generic-table>
        </div>

      </div>
    </div>
  </div>
</div>

<ng-template #leaveModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">
      {{ isEdit ? ('LEAVE.EDIT' | translate) : ('LEAVE.ADD' | translate) }}
    </h6>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <app-leave-create-update [isEdit]="isEdit" [leaveId]="selectedLeaveId" (formSubmitted)="onFormSubmitted()">
    </app-leave-create-update>
  </div>
</ng-template>

<ng-template #detailsModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">{{ 'LEAVE.DETAILS' | translate }}</h6>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body" *ngIf="selectedLeave">

    <div class="task-details-wrapper">

      <table class="table task-details-table">
        <tbody>

          <tr>
            <th>{{ 'LEAVE.ID' | translate }}</th>
            <td>#{{ selectedLeave.id }}</td>
          </tr>

          <tr>
            <th>{{ 'LEAVE.EMPLOYEE' | translate }}</th>
            <td>{{ selectedLeave.employeeName }}</td>
          </tr>

          <tr>
            <th>{{ 'LEAVE.TYPE' | translate }}</th>
            <td>{{ selectedLeave.leaveTypeName }}</td>
          </tr>

          <tr>
            <th>{{ 'LEAVE.START_DATE' | translate }}</th>
            <td>{{ selectedLeave.startDate | date }}</td>
          </tr>

          <tr>
            <th>{{ 'LEAVE.END_DATE' | translate }}</th>
            <td>{{ selectedLeave.endDate | date }}</td>
          </tr>

          <tr>
            <th>{{ 'LEAVE.NOTES' | translate }}</th>
            <td>{{ selectedLeave.notes}}</td>
          </tr>
 <tr *ngIf="canEdit && selectedLeave.statusName === 'Rejected'">
            <th>{{ 'LEAVE.REJECT_REASON' | translate }}</th>
            <td>{{ selectedLeave.rejectionReason}}</td>
          </tr>

          <tr>
            <th>{{ 'LEAVE.STATUS' | translate }}</th>
            <td>
              <span class="badge bg-warning" *ngIf="selectedLeave.statusName === 'Pending'">
                {{ 'LEAVE.PENDING' | translate }}
              </span>
              <span class="badge bg-success" *ngIf="selectedLeave.statusName === 'Approved'">
                {{ 'LEAVE.APPROVED' | translate }}
              </span>
              <span class="badge bg-danger" *ngIf="selectedLeave.statusName === 'Rejected'">
                {{ 'LEAVE.REJECTED' | translate }}
              </span>

            </td>
          </tr>

        </tbody>
      </table>

      <!-- REVIEW SECTION -->
      <div *ngIf="canEdit && selectedLeave.statusName === 'Pending'" class="mt-3">

        <label class="form-label">{{ 'LEAVE.REVIEW_STATUS' | translate }}</label>

        <select class="form-select" required="REQUIRED" [(ngModel)]="reviewModel.status">
          <option [ngValue]="null" disabled>
            {{ 'LEAVE.PENDING' | translate }}
          </option>
          <option ngValue="Approved">
            {{ 'LEAVE.APPROVED' | translate }}
          </option>
          <option ngValue="Rejected">
            {{ 'LEAVE.REJECT' | translate }}
          </option>
        </select>

        <!-- Reject Reason -->
        <div *ngIf="reviewModel.status === 'Rejected'" class="mt-2">
          <label class="form-label">
            {{ 'LEAVE.REJECT_REASON' | translate }}
          </label>
          <textarea class="form-control" rows="3" [(ngModel)]="reviewModel.rejectReason">
          </textarea>
        </div>

        <div class="mt-3 text-end">
          <button class="btn btn-primary" (click)="confirmReview(modal)">
            {{ 'FORM.SAVE' | translate }}
          </button>
        </div>

      </div>
     
      

    </div>
  </div>
</ng-template>