<form [formGroup]="form">

  <div class="modal-header">
    <h6 class="modal-title">{{ 'TASK.ADD_COMMENT' | translate }}</h6>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">

    <textarea
      class="form-control"
      rows="4"
      formControlName="comment"
      placeholder="{{ 'TASK.COMMENT_PLACEHOLDER' | translate }}">
    </textarea>

    <div class="text-danger small mt-1" *ngIf="form.controls['comment'].touched && form.controls['comment'].invalid">
      <div *ngIf="form.controls['comment'].errors?.['required']">
        {{ 'TASK.REQUIRED_FIELD' | translate }}
      </div>
      <div *ngIf="form.controls['comment'].errors?.['minlength']">
        {{ 'TASK.MIN_LENGTH_TASK_CHARACTERS' | translate }}
      </div>
    </div>

    <div class="mb-3 mt-2">
      <label for="formFileMultiple" class="form-label">{{ 'TASK.ADD_ATTACHMENTS' | translate }}</label>
      <input 
        class="form-control" 
        type="file" 
        id="formFileMultiple" 
        (change)="onFileChange($event)" 
        multiple>
    </div>
    
 <div class="row">
      <div class="col-md-6 mb-3">
        <label class="form-label">
          {{ 'CALENDAR.START_DATE' | translate }} *
        </label>
        <input type="datetime-local" class="form-control" formControlName="startDate" />
      </div>

      <div class="col-md-6 mb-3">
        <label class="form-label">
          {{ 'CALENDAR.END_DATE' | translate }}
        </label>
        <input type="datetime-local" class="form-control" formControlName="endDate" />
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">
      {{ 'FORM.CANCEL' | translate }}
    </button>

    <button
      class="btn btn-danger"
      [disabled]="form.invalid || isSubmitting"
      (click)="submit()">
      {{ 'TASK.SUBMIT_COMMENT' | translate }}
    </button>
  </div>

</form>
