<app-page-header [title]="title | translate" [title1]="breadcrumbs" [activeitem]="activeitem | translate">
</app-page-header>

<div class="row row-sm">
  <div class="col-md-12 col-lg-12">
    <div class="card custom-card">
      <div class="card-header border-bottom-0">
        <label class="main-content-label my-auto pt-2">
          {{ title | translate }}
        </label>
      </div>

      <div class="card-body pt-2">

        <!-- Loading -->
        <div *ngIf="isLoading" class="text-center my-3">
          <div class="spinner-border"></div>
        </div>

        <!-- Table -->
        <div *ngIf="!isLoading">
          <app-generic-table
            [title]="title"
            [breadcrumbs]="breadcrumbs"
            [activeitem]="activeitem"
            [labels]="labels"
            [columns]="columns"
            [data]="rows"

            [entries]="entries"
            [page]="page"
            [totalItems]="totalItems"

            [showAddButton]="true"
            [addButtonLabel]="'ROLE.ADD' | translate"
            (addClick)="openAdd(roleModal)"

            [showEditButton]="true"
            (edit)="openEdit($event, roleModal)"

            (iconAction)="onIconAction($event)"

            [showFilters]="true"
            [searchCriteria]="searchCriteria"
            [onSearch]="applyFilters.bind(this)"

            (pageChange)="onPageChange($event)"
            (entriesChange)="onEntriesChange($event)">
          </app-generic-table>
        </div>

      </div>
    </div>
  </div>
</div>
<ng-template #roleModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">
      {{ isEdit ? ('ROLE.EDIT' | translate) : ('ROLE.ADD' | translate) }}
    </h6>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <app-role-create-update
      [isEdit]="isEdit"
      [roleId]="selectedRoleId"
      (formSubmitted)="onFormSubmitted()">
    </app-role-create-update>
  </div>
</ng-template>
