 
<div *ngIf="readonly" class="table-responsive">
  <table class="table table-bordered align-middle">
    <tbody>
      <tr>
        <th>رقم المهمة</th>
        <td>{{ taskInfo?.id }}</td>
      </tr>
      <tr>
        <th>عنوان المهمة</th>
        <td>{{ taskInfo?.title }}</td>
      </tr>
      <tr>
        <th>تفاصيل المهمة</th>
        <td>{{ taskInfo?.description }}</td>
      </tr>
      <tr>
        <th>فترة السماح للتعليق</th>
        <td>{{ taskInfo?.commentAllowPeriodDays }}</td>
      </tr>
      <tr>
        <th>الحد الأقصى للتحذيرات</th>
        <td>{{ taskInfo?.maxWarnings }}</td>
      </tr>
      <tr>
        <th>مقدار الخصم عند الوصول للحد الأقصى</th>
        <td>{{ taskInfo?.penaltyAtMaxWarnings }}</td>
      </tr>
      <tr>
        <th>مقدار الخصم عند إغلاق المهمة تلقائيًا</th>
        <td>{{ taskInfo?.penaltyOnAutoClose }}</td>
      </tr>
      
      <tr>
        <th>تاريخ التسليم</th>
        <td>{{ taskInfo?.dueDate }}</td>
      </tr>
      <tr>
        <th>جهة التكليف</th>
        <td>{{ taskInfo?.assignedByName }}</td>
      </tr>
    </tbody>
  </table>
</div>
