<app-page-header [title]="title | translate" [title1]="breadcrumbs" [activeitem]="activeitem | translate">
</app-page-header>
  <div *ngIf="!isLoading" class="row row-sm">
                    @for (card of cards; track $index) {
                    <div class="col-12 col-md-6 col-xl-3">
                        <spk-dashboard [card]="card"></spk-dashboard>
                    </div>
                    }
                </div>
<div class="row row-sm">
    <div class="col-md-12 col-lg-12">
        <div class="card custom-card">

            <!-- <div class="card-header border-bottom-0">
                <div class="d-flex">
                    <label class="main-content-label my-auto pt-2">{{ title | translate }}</label>
                </div>
            </div> -->

            <div class="card-body pt-2">

                <!-- LOADING -->
                <div *ngIf="isLoading" class="text-center my-3">
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">{{ 'TABLE.LOADING' | translate }}</span>
                    </div>
                </div>
              

                <!-- TABLE -->
                <div *ngIf="!isLoading">

                    <app-generic-table [title]="title" [breadcrumbs]="breadcrumbs" [columns]="columns" [data]="rows"
                        [entries]="entries" [page]="page" [labels]="labels" [totalItems]="totalItems"
                        [showAddButton]="canCreate" [showEditButton]="canEdit" [showDeleteButton]="canDelete"
                        (addClick)="openAdd(taskModal)" [showDetailsButton]="true" [showFilters]="true"
                        [searchCriteria]="searchCriteria" [onSearch]="applyFilters.bind(this)" [employeeOptions]="employees" [statusOptions]="status"
                        (pageChange)="onPageChange($event)" [addButtonLabel]="'TASK.ADD' | translate"
                        (edit)="openEdit($event, taskModal)" (details)="openDetails($event)"
                        (delete)="confirmDelete($event)"
                        [disableEditFn]="disableEditRow"
                        [disableDetailsFn]="disableDetailsRow"
                        [disableDeleteFn]="disableDeleteRow">
                    </app-generic-table>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL TEMPLATE -->
<ng-template #taskModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title">
            {{ isEdit ? ('TASK.EDIT' | translate) : ('TASK.ADD' | translate) }}
        </h6>
        <button class="btn-close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <app-task-create-update [isEdit]="isEdit" [taskId]="selectedTaskId" (formSubmitted)="onFormSubmitted()">
        </app-task-create-update>
    </div>
</ng-template>

<ng-template #detailsModal let-modal>
    <div class="modal-header">
        <h6 class="modal-title">
            {{ 'TASK.DETAILS' | translate }}
        </h6>

        <button class="btn-close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body p-0">

    </div>
</ng-template>