<app-page-header [title]="title | translate" [title1]="breadcrumbs" [activeitem]="activeitem | translate">
</app-page-header>

<div class="row row-sm">
  <div class="col-md-12 col-lg-12">
    <div class="card custom-card">
      <div>
      
        <!-- TABLE -->
        <div>

          <app-generic-table [title]="title" [breadcrumbs]="breadcrumbs" [activeitem]="activeitem" [labels]="labels"
            [columns]="columns" [data]="rows" [entries]="entries" [page]="page" [totalItems]="totalItems"
            [showAddButton]="true" [addButtonLabel]="'COURSE.ADD' | translate" (addClick)="openAdd(courseModal)"
            [showEditButton]="true" (edit)="openEdit($event, courseModal)" [showFilters]="true"
            [searchCriteria]="searchCriteria" [onSearch]="applyFilters.bind(this)" (pageChange)="onPageChange($event)"
            (entriesChange)="onEntriesChange($event)" [showDeleteButton]="true" (delete)="confirmDelete($event)">
          </app-generic-table>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- MODAL TEMPLATE -->
<ng-template #courseModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">
      {{ isEdit ? ('COURSE.EDIT' | translate) : ('COURSE.ADD' | translate) }}
    </h6>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <app-course-create-update *ngIf="key" [isEdit]="isEdit" [courseId]="selectedCourseId"
      (formSubmitted)="onFormSubmitted()">
    </app-course-create-update>
  </div>
</ng-template>