<form [formGroup]="form">

  <div class="modal-header">
    <h6 class="modal-title">{{ 'TASK.ADD_WARNING' | translate }}</h6>
    <button class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">

    <!-- Employee Dropdown -->
    <div class="mb-3">
      <label class="form-label">{{ 'TASK.SELECT_EMPLOYEE' | translate }}</label>
      <app-employee-ng-select [options]="assignedEmployees"
        [selectedEmployeeId]="form.controls['selectedEmployeeId'].value"
        (selectedEmployeeIdChange)="form.controls['selectedEmployeeId'].setValue($event)" [disabled]="false"
        [showLabel]="false"></app-employee-ng-select>

      <div class="text-danger small mt-1"
        *ngIf="form.controls['selectedEmployeeId'].touched && form.controls['selectedEmployeeId'].invalid">
        يجب اختيار موظف
      </div>
    </div>

    <!-- Reason -->
    <div class="mb-3">
      <textarea class="form-control" rows="3" formControlName="reason"
        placeholder="{{ 'TASK.WARNING_RESON' | translate }}">
      </textarea>

      <div class="text-danger small mt-1" *ngIf="form.controls['reason'].touched && form.controls['reason'].invalid">
        <div *ngIf="form.controls['reason'].errors?.['required']">
          {{ 'TASK.REQUIRED_FIELD' | translate }}
        </div>
        <div *ngIf="form.controls['reason'].errors?.['minlength']">
          {{ 'TASK.MIN_LENGTH_TASK_CHARACTERS' | translate }}
        </div>
      </div>
    </div>

  </div>

  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modal.dismiss()">
      {{ 'FORM.CANCEL' | translate }}
    </button>

    <button class="btn btn-danger" [disabled]="form.invalid || isSubmitting" (click)="submit()">
      {{ 'TASK.SUBMIT_WARNING' | translate }}
    </button>
  </div>

</form>