<app-page-header [title]="title | translate" [title1]="breadcrumbs" [activeitem]="activeitem | translate">
</app-page-header>

<div class="row row-sm">

  <div class="card custom-card">
    <!-- <div class="card-body"> -->
    <div> <!-- LOADING -->
      <div *ngIf="isLoading" class="text-center my-3">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">{{ 'TABLE.LOADING' | translate }}</span>
        </div>
      </div>

      <!-- TABLE -->
      <div *ngIf="!isLoading">

        <app-generic-table [title]="title" [breadcrumbs]="breadcrumbs" [activeitem]="activeitem" [labels]="labels"
          [columns]="columns" [data]="rows" [entries]="entries" [page]="page" [totalItems]="totalItems"
          [showAddButton]="true" [addButtonLabel]="'EMPLOYEE.ADD' | translate" (addClick)="openAdd(employeeModal)"
          [showEditButton]="true" (edit)="openEdit($event, employeeModal)" [showFilters]="true"
          [searchCriteria]="searchCriteria" [onSearch]="applyFilters.bind(this)" (pageChange)="onPageChange($event)"
          (entriesChange)="onEntriesChange($event)" [showDeleteButton]="true" (delete)="confirmDelete($event)">
        </app-generic-table>

      </div>
    </div>
  </div>
</div>

<!-- MODAL TEMPLATE -->
<ng-template #employeeModal let-modal>
  <div class="modal-header">
    <h6 class="modal-title">
      {{ isEdit ? ('EMPLOYEE.EDIT' | translate) : ('EMPLOYEE.ADD' | translate) }}
    </h6>
    <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
  </div>

  <div class="modal-body">
    <app-employee-create-update *ngIf="key" [isEdit]="isEdit" [employeeId]="selectedEmployeeId"
      (formSubmitted)="onFormSubmitted()">
    </app-employee-create-update>
  </div>
</ng-template>