<div class="table-responsive" style="max-height:400px; overflow:auto;">
<app-generic-table
  [columns]="columns"
  [data]="rows"
  [page]="page"
  [entries]="entries"
  [totalItems]="totalItems"
  [showAddButton]="false"
  [showEditButton]="false"
  [showDetailsButton]="false"
  [showFilters]="false"
  [showPagination]="false"
  (pageChange)="onPageChange($event)">
</app-generic-table>

<div *ngIf="!isLoading && !rows.length" class="text-center text-muted mt-4">
  {{ 'TASK.NO_REQUESTS' | translate }}
</div>

</div>