<div class="col-12 col-lg-12">
  <div class="card custom-card overflow-hidden">

      <!-- LOADING -->
      <div *ngIf="isLoading" class="text-center my-3">
        <div class="spinner-border" role="status"></div>
      </div>

      <!-- TABLE -->
      <div *ngIf="!isLoading">
        <app-generic-table
          [title]="title"
          [columns]="columns"
          [data]="rows"
          [entries]="entries"
          [page]="page"
          [totalItems]="totalItems"
          [labels]="labels"
          [showAddButton]="false"
          [showEditButton]="false"
          [showDeleteButton]="false"
          [showFilters]="false"
          [showExportExcel]="false"
          [searchCriteria]="searchCriteria"
          [onSearch]="applyFilters.bind(this)"
          (pageChange)="onPageChange($event)"
          [rowClickable]="true" 
          (entriesChange)="onEntriesChange($event)"
          [rowClickableCondition]="checkRowClickable"
          (edit)="onEdit($event)"
          >
        </app-generic-table>
      </div>

    
  </div>
</div>
